{% extends 'admin_p/base.html' %}

{% block title %} System Report {% endblock %}


{% block body %}
    <div class="container" style="margin-top: 30px;">
        <pre><h2>From:    {{from_date}}</h2><h2>To:      {{to_date}}</h2><br></pre>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">User</th>
                  <th scope="col">Date</th>
                  <th scope="col">Attendance</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                <tr>
                  <td>{{record.user}}</td>
                  <td>{{record.date}}</td>
                  <td>{{record.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}